/*
  For the css reset:
  http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  font-family: "Playwrite AU NSW", cursive;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Main CSS starts here */
* {
  margin: 0;
  padding: 0;
  min-width: 0;
  list-style-type: none;
  text-decoration: none;
}

body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

header {
  position: relative;
}

footer {
  background-color: aqua;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
* {
  line-height: 1.2;
}

div.img-holder {
  min-width: fit-content;
  position: relative;
  z-index: 1;
  width: fit-content;
  float: left;
  transform: scale(1.4) translate(20px, 5px);
  margin-right: 100px;
}
.about > span {
  vertical-align: top;
  display: inline-block;
}
.about > h2 {
  vertical-align: top;
}

span.mountain {
  display: block;
  position: absolute; 
  margin-left: auto;
  margin-right: auto;
  bottom: 10px;
  left: 0;
  right: 0;
  width: fit-content;
  font-size: 20px;
  color: white;
}

img.top {
  min-width: 250px;
  max-height: 250px;
  object-fit: cover;
  z-index: 1;
  box-shadow: 1px 2px 10px black;
}

.about {
  flex-grow: 0;
  background-color: white;
  box-shadow: 1px 1px 10px gray;
  height: fit-content;
  padding: 15px 15px 30px 30px;
  padding-left: 15px;
  margin: 70px auto;
  align-items: center;
  width: 900px;
}

.about h2 {
  margin-bottom: 10px;
}

.about p {
  font-size: 15px;
  line-height: normal;
}

h2 {
  font-size: 40px;
}

.text {
  font-size: larger;
}

header > .background {
  width: 150%;
  height: 1000px;
  background-color: #3c88a2;
  transform: rotateZ(-7deg) translate(0, -200px);
  z-index: -1;
  position: absolute;
  top: -500px;
  right: 0;
}

header {
  overflow: hidden;
}

main {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: min(1200px, 100%);
  margin: 0 auto;
  padding: 0 50px;
}

.proj-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
  gap: 50px;
  width: 100%;
  margin-bottom: 75px;
}

.proj {
  object-fit: cover;
  box-shadow: 0 0 15px gray;
}

.proj > p {
  padding: 8px;
}

.proj > img {
  width: 100%;
  height: 250px;
}

li > img {
  width: inherit;
  object-fit: cover;
}

.proj-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 8px 0 8px;
  font-size: 28px;
}

footer {
  background-color: #3c88a2;
  padding: 50px;
  border-top: 15px solid black;
}

footer .contact {
  width: 400px;
}

footer > *:not(h2) {
  font-size: 15px;
}

footer img {
  max-width: 400px;
  max-height: fit-content;
  box-shadow: 0 0 15px black;
}

.footer-content {
  color: #cbced3;
  display: flex;
  width: fit-content;
  margin: 0 auto;
  gap: 50px;
}

footer .contact > * {
  margin-bottom: 20px;
}

footer a {
  color: #cbced3;
}

.footer-links img, .footer-links > a {
  width: 30px;
  border: none;
  box-shadow: none;
} 

.footer-links {
  display: flex;
  column-gap: 30px;
}

@media (min-width: 320px) and (max-width: 420px) {
  .proj-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 50px;
    width: 100%;
    margin-bottom: 75px;
  }
  img.top {
    min-width: 250px;
    max-height: 250px;
    object-fit: cover;
  }
  .about {
    margin-top: 300px;
  }
}

@media (max-width: 600px) {
  div.img-holder {
    transform: none;
    position: absolute; 
    left: 0;
    right: 0;  
    margin-inline: auto; 
    width: fit-content;
    float: none;
    top: 30px;
  }
  .about {
    flex-grow: 0;
    background-color: white;
    box-shadow: 1px 1px 10px gray;
    height: fit-content;
    padding: 15px 15px 30px 30px;
    padding-left: 15px;
    align-items: center;
    width: 75%;
  }
  .footer-content {
    display: block;
  }
  footer .contact {
    width: 100%;
  }
  footer img {
    max-width: 100%;
  }
  footer .contact {
    text-align: center;
    margin: auto;
    margin-bottom: 35px;
  }
  .footer-links {
    width: fit-content;
    margin: auto;
  }
}

@media (min-width: 421px) and (max-width: 600px) {
  img.top {
    min-width: 350px;
    max-height: 350px;
    object-fit: cover;
  }
  .about {
    margin-top: 400px;
  }
}

@media (min-width: 601px) and (max-width: 1000px) {
  img.top {
    min-width: 125px;
    max-height: 125px;
    object-fit: cover;
  }
  div.img-holder {
    width: fit-content;
    float: left;
    transform: scale(2.2) translate(15px, 10px);
    margin-right: 125px;
    margin-bottom: 90px;
  }
  span.mountain {
    font-size: 15px;
  }
  .about {
    flex-grow: 0;
    background-color: white;
    box-shadow: 1px 1px 10px gray;
    height: fit-content;
    padding: 15px 15px 30px 30px;
    padding-left: 15px;
    margin: 70px auto;
    align-items: center;
    width: 75%;
  }
  .footer-content {
    display: block;
  }
  footer img {
    max-width: 100%;
  }
  footer .contact {
    text-align: center;
    margin: auto;
    margin-bottom: 35px;
  }
  .footer-links {
    width: fit-content;
    margin: auto;
  }
}